<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MCMP_Gestion_V01.Properties.Settings.cda35_bd2ConnectionString"
            connectionString="server=cda35.2isa.org;user id=cda35;password=9556cda35;persistsecurityinfo=True;database=cda35_bd2;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>